<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
    <nav>
        <div class="container-fluid">
            <ul class="nav bg-info">
              <li class="nav-item">
                <a class="nav-link link-light" href="/">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-light" href="#">Events</a>
              </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if user.is_authenticated %}
                      {{ user.username }}
                    {% else %}
                      Account
                    {% endif %}
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Events</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                  </ul>
                </li>
              </ul>
        </div>
    </nav>
    {% block content %}
     <!-- Main Site -->
     <main id="site-main">

      <!-- Blog Post Section -->
          <section id="posts">
              <div class="container">
                  <div class="grid">
                      <!-- article -->
                      {% for post in posts %}
                          <div class="grid-item">
                              <article class="article">
                                  <div class="card">
                                      <div class="overflow-img">
                                          <a href="{% url 'post_detail' post.slug%}">
                                              <img src="{{post.image.url}}" class="img-fluid" alt="">
                                          </a>
                                      </div>
                                      <div class="card-body text-center px-1">
                                          <a href="{% url 'post_detail' post.slug%}" class="text-title display-1 text-dark">
                                              {{post.title}}
                                          </a>
                                          <p class="secondary-title text-secondary display-3">
                                              <span><i class="far fa-clock text-primary"></i>{{post.date}}</span>
                                              <span><i class="far fa-comments text-primary"></i> 12</span>
                                          </p>
                                      </div>
                                  </div>
                              </article>
                          </div>
                      {% endfor %}

                  <div class="text-center">
                      <button class="btn btn-primary secondary-title text-light">Load More Posts...</button>
                  </div>
              </div>
          </section>
      <!-- .Blog Post Section -->

      <!-- Swiper slider -->
          <section class="slider">
              <div class="container">

                  <!-- Slider main container -->
                      <div class="swiper-container">
                          <!-- Additional required wrapper -->
                          <div class="swiper-wrapper">
                              <!-- Slides -->
                              {% for post in posts %}
                              <div class="swiper-slide">
                                  <a href="{% url 'post_detail' post.slug%}">
                                      <img src="{{post.image.url}}" class="img-fluid" alt="">
                                  </a>
                              </div>
                              {% endfor %}
                               <!-- Slides -->
                                

                          </div>
                      </div>

              </div>
          </section>
       <!-- .Swiper slider -->

 </main>
<!-- .Main Site -->

    {% endblock %}

    <footer class="text-center py-3">
        © 2024 Calorie Tracker App. All rights reserved.
    </footer>
    
</body>
</html>